body {
    display: flex;
    margin: 0;
    font-family: sans-serif;
}

aside {
    width: 200px;
    background-color: #f3f3f3;
    height: 100vh;
    padding: 1em;
}

aside nav ul {
    list-style-type: none;
    padding: 0;
}

aside nav ul li {
    margin-bottom: 1em;
}

aside nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    padding: 2em;
    flex-grow: 1;
}
